.view-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.view-container {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.animated-view {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
