@if (showSplash()) {
  <app-loading-screen></app-loading-screen>
}
@if (showErrorPopup()) {
  <app-error-popup [message]="errorMessage()" (retry)="getAppDataDetails()"> </app-error-popup>
}
@if (!showSplash() && !showErrorPopup()) {
  <div class="view-wrapper">
    <div class="view-container" [ngClass]="{ 'slide-in z-10': activeView() === 'landing' }">
      <app-landing-page
        (countdownFinished)="switchView()"
        (landingPageClicked)="isLandingPageClicked()"
        [isActive]="activeView() === 'landing'"
        [headerText]="data.header"
        [headerAnimated]="data.headerAnimated"
        [headerImage]="data.headerImage">
      </app-landing-page>
    </div>
    <div class="view-container" [ngClass]="{ 'slide-in z-10': activeView() === 'chat' }">
      <app-active-chat
        (countdownFinished)="switchView()"
        [isActive]="activeView() === 'chat'"
        [questions]="data.questions">
      </app-active-chat>
    </div>
  </div>
}
