@if (showSplash()) {
  <app-loading-screen />
} @else if (showErrorPopup()) {
  <app-error-popup [message]="errorMessage()" (retry)="getAppDataDetails()" />
} @else {
  @let _data = data();
  @if (activeView() === 'landing') {
    <app-landing-page
      [headerText]="_data.header"
      [headerAnimated]="_data.headerAnimated"
      [headerImage]="_data.headerImage"
      (countdownFinished)="switchView()"
      (landingPageClicked)="isLandingPageClicked()" />
  } @else if (activeView() === 'chat') {
    <app-active-chat [questions]="_data.questions" (countdownFinished)="switchView()" />
  }
}
