<div class="bg-gradient">
  <div
    class="container mx-auto min-h-screen overflow-x-hidden text-yellow-300 flex flex-col items-center justify-center">
    <div class="w-40 h-40 flex items-center justify-center mb-4 mt-6">
      <img src="loading-screen-image.jpg" alt="img">
    </div>

    <h1 class="text-2xl font-bold mb-2">Piyush AI</h1>

    <p class="text-sm mb-16">Hello buddy. I am here to assist you.</p>

    <div class="absolute bottom-14">
      <div class="spinner"></div>
    </div>

    <div class="absolute bottom-4 text-[9px] opacity-70">
      CAPA is an AI Assistant Powered by Bseen.ai
    </div>
  </div>
</div>
