<div class="bg-gradient" (click)="onClick()">
  <div class="container mx-auto  min-h-screen overflow-x-hidden text-[#ffe747] flex flex-col justify-center">
    <nav class="">
      <div class="px-5">
        <img [src]="headerImage" alt="logo" class="inline-block w-16 h-14 sm:w-14 sm:h-10 md:w-24 md:h-20 align-top">
      </div>
    </nav>

    <div class="flex flex-col justify-start items-center md:flex-row md:px-14 px-12  pt-6">
      <div class=" md:pr-8 md:text-left">
<h1 class="mb-6 text-[45px] title font-extrabold text-[#ffe747] md:text-7xl md:leading-snug lg:text-[106px] lg:leading-tight tracking-tight">
          {{ headerText }}<br/>
          <span class="relative font-extrabold decoration-4 decoration-red-400">{{
              typedOutput()
            }}</span>
          <span class="cursor inline-block">|</span>
        </h1>

      </div>
    </div>

    @if (showCountdown()) {
      <app-countdown-timer [initialValue]="10" (countdownFinished)="onCountdownFinished()">
      </app-countdown-timer>
    }
  </div>
</div>
