<div class="bg-gradient" (click)="onClick()">
  <div class="container mx-auto  min-h-screen overflow-x-hidden text-[#ffe747] pt-16">
    <nav class="">
      <div class="px-5">
        <img [src]="headerImage" alt="logo" class="inline-block w-24 h-20 align-top">
      </div>
    </nav>

    <div class="flex flex-col justify-start items-center px-6 md:flex-row md:px-12">
      <div class=" text-center md:pr-8 md:text-left">
        <h1 class="mb-6 text-4xl title font-extrabold leading-tight text-[#ffe747] md:text-[106px] tracking-tight">
          {{ headerText }}<br/>
          <span class="relative font-extrabold decoration-4 decoration-red-400">{{
              typedOutput()
            }}</span>
          <span class="cursor inline-block">|</span>
        </h1>

      </div>
    </div>

    @if (showCountdown()) {
      <app-countdown-timer [initialValue]="10" (countdownFinished)="onCountdownFinished()">
      </app-countdown-timer>
    }
  </div>
</div>
