<div (click)="onClick()" class="min-h-screen bg-gradient w-full">
    <div class="flex flex-col h-screen max-w-[780px] w-full mx-auto">
        <div #messagesContainer class="flex flex-col p-3 sm:p-5 messages-container overflow-y-auto flex-grow"
             (scroll)="onScroll()">

            @for (message of displayedMessages; track message.id) {
                <div [id]="message.id"
                     [ngClass]="['flex mb-4', message.sender === 'user' ? 'justify-end' : 'justify-start']">
                    <div [ngClass]="[
                  'relative animate-fade-in',
                  message.sender === 'user' ? 'max-w-[85%] sm:max-w-[70%]' : 'w-full'
                ]">
                        @if (message.sender === 'ai') {
                            <div class="absolute top-1 h-4 w-4">
                                <img class="h-full w-full" src="chat-bubble.png" alt="">
                            </div>
                        }
                        <div [ngClass]="['py-3 mt-5 rounded-md rounded-br-none leading-relaxed',
              message.sender === 'user'
                ? 'bg-white text-gray-800 pl-4 pr-6 sm:pl-5 sm:pr-10 py-3 sm:py-4 user-bubble'
                : shouldFixHeight(message.id)
                  ? 'bg-transparent text-[#ffe747] chat-box ai-fixed-height'
                  : 'bg-transparent text-[#ffe747] chat-box ai-message']">
                            @if (!message.isTyping) {
                                <span class="text-justify" [innerHTML]="message.text"></span>
                            }
                            @if (message.isTyping) {
                                <span class="flex items-center mt-2.5">
              <span class="w-2 h-2 rounded-full bg-yellow-300 mx-0.5 animate-bounce-delay-0"></span>
              <span class="w-2 h-2 rounded-full bg-yellow-300 mx-0.5 animate-bounce-delay-200"></span>
              <span class="w-2 h-2 rounded-full bg-yellow-300 mx-0.5 animate-bounce-delay-400"></span>
            </span>
                            }
                        </div>
                    </div>
                </div>
            }
        </div>

        @if (showCountdown()) {
            <div class="countdown-container p-4">
                <app-countdown-timer [initialValue]="10"
                                     (countdownFinished)="onCountdownFinished()"></app-countdown-timer>
            </div>
        }
    </div>
</div>
