@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import 'tailwindcss';

body {
  height: 100%;
  overflow-x: hidden;
  background-color: #f0f2f5;
  font-family: 'Helvetica', sans-serif !important;
}

html {
  height: 100%;
  width: 100% !important;
}

.title {
  font-family: 'Baloo Bhaijaan 2', sans-serif !important;
}

* {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background: #c3c3c3;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #a8a8a8;
}

/* custom fonts setup */
@font-face {
  font-family: 'Helvetica';
  src: url('/fonts/helvetica/Helvetica.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica';
  src: url('/fonts/helvetica/Helvetica-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica';
  src: url('/fonts/helvetica/Helvetica-Oblique.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Helvetica';
  src: url('/fonts/helvetica/Helvetica-BoldOblique.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Baloo Bhaijaan 2';
  src: url('/fonts/baloo-bhaijaan-2/BalooBhaijaan2[wght].ttf') format('truetype');
  font-weight: 400 700;
  font-style: normal;
}

.bg-gradient {
  background: linear-gradient(180deg, #ff004c 0%, color-mix(in srgb, #ff004c 80%, black) 100%);
}
